<div class="container">
  <h4>管理者ログイン</h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mx-auto col-sm-10 col-lg-8 col-xl-6">
      <div class="field btn btn-block">
        <div class="row justify-content-between">

          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-8" %>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-8" %>

        </div>
      </div>
    </div>

    <div class="btn-wrapper col-2 mx-auto">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-sm btn-block" %>
      </div>
    </div>
    
  <% end %>
</div>
